$primary-color: #054743;
$primary-color-hover: #0280b3;
$primary-color-light: #6ec1e4;
$primary-color-dark:#8698e5;

$menu-color: #252527;

$font-light: #fff;
$font-grey-light:#e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark-light: #252525;
$font-dark: #000;

$border-light: #fff;
$border-grey-light:#e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-dark-light: #252525;
$border-dark: #000;

$background-light: #fff;
$background-grey-light:#e8e8e8;
$background-grey: #808080;
$background-grey-dark: #595959;
$background-dark-light: #252527;
$background-dark: #000;
$background-success: #84b84c1f;
$background-error: #ff00001f;
$background-dark-web: #16202b;
$background-dark-light-web: #1a2734;


$success: #84b84c;
$error: #f00;


$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;
$instagram: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
$github: #f77638;
