//Fonts
$defaultFontSize : 16px;



//Responsive down size
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sn: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;

//Responsive up size
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sn: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;
