.ant-steps .ant-steps-horizontal .ant-steps-label-horizontal {
    padding: 100px !important;
    margin-bottom: 100px;
    }

.steps-content{
    height: 500px;
    padding: 20px !important;
}

.steps-action{
    margin-top: 30px;
    float: right !important;
    align-items: flex-end;
    align-content: flex-end;
}
