<ng-container *ngIf="this.barber">
  <ion-header translucent class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-row class="ion-align-items-center ">
      <ion-col size="2" *ngIf="this.showOneDayBack">
        <ion-icon name="chevron-back-outline" ios="none" class="ion-float-right" size="large" (click)="oneDayBack()"></ion-icon>
      </ion-col>
      <ion-col size="2" *ngIf="!this.showOneDayBack">
      </ion-col>
      <ion-col size="8" class="today">
        <ion-datetime class="ion-text-uppercase ion-justify-content-center"
          monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
          displayFormat="D de MMMM de YYYY" [value]="this.dateValue" placeholder="Select Date" [min]="this.today"
          max="2030"
          (ionChange)="setManualDate($event)">
        </ion-datetime>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="chevron-forward-outline" ios="none" class="ion-float-left" size="large" (click)="oneDayForward()">
        </ion-icon>
      </ion-col>
    </ion-row>

    <app-schedule-list #scheduleList [requestedDate]="this.dateValue" [barber]="this.barber"></app-schedule-list>


  </ion-content>
  <ng-container>
